* {
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cedarville-cursive-regular {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

.red {
  color: red;
}

h1 {
  font-size: 30px;
  line-height: 1.5;
}

/* NAV */

.nav-container {
  padding-left: 25%;
  padding-right: 25%;
  background-color: #e1ebfa;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  gap: 15px;
}

.navbar a {
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

/* SECTION 1 */

.container-section1 {
  background-color: #e1ebfa;
  display: flex;
  padding-left: 25%;
  padding-right: 25%;
  justify-content: space-between;
  justify-content: flex-start;
  padding-top: 50px;
  padding-bottom: 50px;
}

.card-left-section1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: space-between;
}

.card-right-section1 img {
  height: 300px;
}

.card-left-section1 p {
  line-height: 1.5;
}

.buttons ul {
  display: flex;
  gap: 30px;
}

.container-section1 li {
  list-style: none;
}

.container-section1 a:link,
.container-section1 a:visited {
  text-decoration: none;
  background-color: #2f3f9f;
  color: white;
  padding: 14px 25px;
  border-radius: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.container-section1 a:hover {
  background-color: red;
}

/* SECTION 2 */

#section2,
#section5 {
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

/* SECTION 3 */

.container-section3 {
  display: inline-flex;
  gap: 10px;
  justify-content: space-between;
  padding-left: 25%;
  padding-right: 25%;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.card1,
.card2,
.card3,
.card4 {
  width: 400px;
}

.container-section3 p {
  padding-top: 10px;
  padding-bottom: 10px;
}

#section4 {
  background-image: url("assets/pexels-cowomen-1058097-2041627.jpg");
  background-repeat: no-repeat;
  background-size: 3000px;
  opacity: 09;
}

.container-section4 {
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 300px;
  padding-bottom: 300px;
  text-align: center;
}

.container-section4 h1 {
  color: white;
  font-size: 50px;
  font-weight: bolder;
  text-shadow: 1px 1px 2px black;
  padding-bottom: 20px;
}

.container-section4 a:link,
.container-section4 a:visited {
  text-decoration: none;
  background-color: red;
  color: white;
  padding: 14px 30px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.container-section4 a:hover {
  background-color: blue;
}

/* SECTION 6 */

#section6 {
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center horizontally */
  padding-bottom: 200px;
}

.grid-container {
  /* background-color: black; */
  width: 1220px;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 300px 300px 300px 300px;
  gap: 10px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.item2 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}
.item4 {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}

.item5 {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;
}

.item6 {
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
}

/* SECTION 7 */

#section7 {
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center horizontally */
  padding-bottom: 200px;
}

.grid-container-section7 {
  /* background-color: black; */
  width: 1220px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content h1 {
  padding-bottom: 30px;
}

.div-content {
  padding-top: 30px;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 0.3;
}

#section8 {
  /* height: 1220px; */
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 200px;
}

.team img {
  width: 200px;
}

.team {
  padding-top: 30px;
  display: flex;
  gap: 80px;
}

.team h2 {
  padding-top: 10px;
  padding-bottom: 5px;
}

.team p {
  color: gray;
}
